extends ../../layouts/ui-kit-layout.pug
block values 
    title Webpack       
block content 
        .router
            a.colors_styles( href="./colorsAndType.html" target=_blank) Colors & Type
            |
            |
            a.router_header( href='#') Headers & Footers 
            |
            |
            a.router_header( href='./formElements.html' target=_blank) Form Elements
            |
            |
            a.router_header( href='#') Cards