.color__container {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}
.color {
    width: 282px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.color__wrapper {
    display: flex;
    flex-direction: column;
    width: 171px;
    height: 56px;
    margin-top: 7px;
    padding-left: 40px;
}
.color__number-box {
    font-size: 19px;
    height: 28px;
    font-weight: 400;
    
}
.color__text-box {
    font-size: 19px;
    height: 28px;
    font-weight: 700;
   
}
.color__text  {
    text-align:left ;
}
.color__number {
    margin-top: 3px;
}