mixin colors(color, name, number)
    .color-block__color-wrapper
        .color-block__color(style="background-color:" + color)
        .color-block__text-box
            .color-block__text-box_color-text 
                .name= name
            .color-block__text-box_color-number 
                .number= number