mixin colors(color, name, number)
    .color
        .color__container(style="background-color:" + color)
        .color__wrapper
            .color__text-box 
                p.color__text= name
            .color__number-box
                p.color__number= number