@import'fonts';
* {
    margin: 0;
    padding:0;
    border: none;
    list-style: none;
}

.color-blok {
    display: flex;
    flex-direction: column;
    height:610px;
    width: 282px;
    padding:145px 1008px 145px 150px;
    justify-content: space-between;
    
}
body {
    font-family: "Montserrat";
}